{$REACT_WEDDING_DOMAIN} {
    root /docker_django

    proxy /api http://{$BACKEND_PROXY}:8080 {
        transparent
    }

    proxy /media http://{$BACKEND_PROXY}:8080 {
        transparent
    }

    proxy / http://{$WEB}:3000 {
        transparent
        except /api_assets
    }

}
