# DON'T CHANGE THIS FILE, CHANGE COMPOSE FILE
{$REACT_WEDDING_DOMAIN} {
    root /docker_django

    proxy /api http://{$API}:8000 {
        transparent
        #except /media
        #except /static
    }

    proxy / http://{$WEB}:3000 {
        transparent
    }
}
